.figure {
	font-family: 'Inter', sans-serif;
	max-width: 630px;
}

.figure__button {
	transition: all 1000ms linear;
}

.figure__button[data-focused='false'] {
	cursor: zoom-in;
}

.figure__button[data-focused='true'] {
	cursor: zoom-out;
	background: rgba(0, 0, 0, 0.312);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.figure__image {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	/* transition: all 250ms linear; */
}

@keyframes fade-in-figure {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.figure[data-focused='true'] .figure__image {
	position: absolute;
	width: 90%;
	max-width: 730px;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 10px);
	max-height: 90vh;
	object-fit: contain;
	animation: fade-in-figure 1000ms forwards;
	transition: all 350ms linear;
}

.figure__caption {
	font-size: 0.75rem;
	text-align: center;
	font-family: inherit;
	color: rgb(63, 63, 63);
}

.figure[data-focused='true'] .figure__caption {
	display: none;
}

.figure__caption a {
	font-family: inherit;
	color: rgb(63, 63, 63);
}
